
body {
  font-family: Verdana, sans-serif;
  overflow: hidden;
  background-color: #ffffff;

  margin: 0;
  padding: 0;
}

#container-apresentation {

  width: 100%;
 
}

.mySlides {
  display: none;
}

iframe {
  vertical-align: center;
  width: 100%;

  border: none;

}

.ajuste {
  margin: 0;
  margin-left: -8px;
  width: 102% !important;

  overflow: hidden;
}

#container-apresentation {

 
  overflow: hidden;
  margin-left: 0;
  margin-right: 0;
}



.custom-slide {
  margin-left: 15px;
  width: 100% !important;
  height: 100% !important;
}

#presentation2.custom-slide {
  margin-left: 0; 
}

@media screen and (display-mode: fullscreen) {
  #container-apresentation {
    width: 100vw;
 
  }
}



