#container-nav{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    padding: 0 8rem;
}

#container-nav .plus-icon{
    height: 15px;
    width: 15px;
}

#container img{
    width: 4rem;
}
